nav {
    display: flex;
    justify-content: space-between;
    padding-top: 23px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0px 15px;
}

.navLink {
    color: black;
    text-decoration: none;
    padding-right: 10px;
}

.navLink:hover {
    text-decoration: underline;
}

#navLeft {
    margin-left: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#navRight {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#profile {
    border-radius: 50%;
    margin-top: -10px;
}