.foot {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    height: 95px;
    margin-top: 355px;
}

#coutry {
    padding: 200px;
}

#info {
    display: flex;
}
