.container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 198px;
}

.search-panel {
    justify-content: center;
    margin-top: 27px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 10px;
}

#search {
    width: 129px;
}

#random {
    width: 143px;
}


.button {
    height: 36px;
    width: 135px;
    background-color: #F2F2F2;
    font-family: sans-serif;
    font-size: 14px;
    color: #474747;
    border: 0px solid white;
    border-radius: 4px;
    margin: 0px 7px 0px 5px;
    cursor: pointer;
}
.button:hover {
    border: 1px solid rgb(190, 190, 190);
    box-shadow: 0px 1px #efefef;
    background-image: linear-gradient(to top, #F1F1F1, #F7F7F7);
}

.search-box {
    display: flex;
    align-items: center;
    width: 580px;
    height: 42px;
    border: 1px solid lightgray;
    border-radius: 50px;
}

.search {
    margin-left: 10px;
    outline: none;
    height: 26px;
    width: 91%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 0px solid transparent;
}

.icon {
    margin-left: 10px;
    display: flex;
    align-self: center;
}

input{
    border: 0px solid transparent;
}