.container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 210px;
}

.search-panel {
    justify-content: center;
    margin-top: 26px;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: -2px;
}

#search {
    width: 126px;
}

#random {
    width: 142px;
}


.button {
    height: 34px;
    width: 135px;
    background-color: #F8F9FA;
    font-family: sans-serif;
    font-size: 14px;
    color: #474747;
    border: 0px solid white;
    border-radius: 4px;
    margin: 0px 7px 0px 5px;
    cursor: pointer;
}
.button:hover {
    border: 1px solid rgb(190, 190, 190);
    box-shadow: 0px 1px #efefef;
    background-image: linear-gradient(to top, #F1F1F1, #F7F7F7);
}

.search-box {
    display: flex;
    align-items: center;
    width: 582px;
    height: 44px;
    border: 1px solid #DFE1E5;
    border-radius: 50px;
}

.search {
    margin-left: 10px;
    outline: none;
    height: 25px;
    width: 91%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 0px solid transparent;
}

.icon {
    margin-left: 14px;
    display: flex;
    align-self: center;
    color: #9AA0A6 !important;
}

input{
    border: 0px solid transparent;
}